		
       
           <!-- footer main area start -->
       
           <footer>
       
                    <!-- Social media icons line Start -->
       
                           <div class="sm-handle">
       
                                           <a href="https://instagram.com/ronakgiriraj" class="sm-button">
       
                                                           <i class="fab fa-instagram">	</i>
       
                                           </a>
       
                                           <a href="https://www.linkedin.com/in/giri-raj-ronak-999257212" class="sm-button">
       
                                                           <i class="fab fa-linkedin">	</i>
       
                                           </a>
       
                                           <a href="https://facebook.com/giriraj.ronak" class="sm-button">
       
                                                           <i class="fab fa-facebook-f">	</i>
       
                                           </a>
       
                                           <a href="https://twitter.com/2Teching" class="sm-button">
       
                                                           <i class="fab fa-twitter">	</i>
       
                                           </a>
       
                                           <a href="https://github.com/ronakgiriraj" class="sm-button">
       
                                                           <i class="fab fa-github">	</i>
       
                                           </a>
       
                           </div>
       
                                   <!-- Social media icons line Start -->
       
                           <div class="footer-links">
       
                               <div class="menu">
       
                                   <h4 class="menu-title">Menu</h4>							
       
                                   <a href="#" class="menu-links">Join Me</a>
       
                                   <a href="#" class="menu-links">My Blogs</a>
       
                                   <a href="#" class="menu-links">My Journey</a>
       
                                   <a href="#" class="menu-links">About</a>
       
                               </div>
       
                               <div class="menu">
       
                                   <h4 class="menu-title">Other Pages</h4>
       
                                   <a href="#" class="other-links">Contact Us</a>
       
                                   <a href="#" class="other-links">Privacy Policy</a>
       
                                   <a href="#" class="other-links">FAQ</a>
       
                                   <a href="#" class="other-links">Terms of use</a>
       
                               </div>
       
                        </div>
       
                        <!-- copyright area -->
       
                               <p class="copyright">&copy Copyright 2021 | <a href="https://instagram.com/ronakgiriraj">❤️ Salim Kazeme</a></p>
       
           </footer>
       
               <!-- footer main area end -->