<div class="navbar" >
 
  <ul class="navitems">
    <li> <a class="logo" href="#">Logo</a></li>
    <li style="margin-left: 70px;"><a class="current" href="#">Home</a></li>
    <li style="margin-left: 50px;"><a class="notcurrent" href="#">Services</a></li>
    <li style="margin-left: 60px;"><a class="notcurrent" href="#">Projects</a></li>
  </ul>
  
</div>