* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:helvetica;
  text-decoration:none;
  list-style:none;
  font-size:16px;

}

.navbar {
  
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;
  box-shadow:0px 2px 15px rgba(0,0,0,0.5);

  
}



.navitems {
  display:flex;
  align-items:center;
  background-color: #bce0e8;
  
  
}

.navitems li > a {
  display:inline-block;
  margin:5px;
  padding:20px;
  transition:300ms;
  -webkit-tap-highlight-color: transparent;
  font-size:1.2rem;
  
  
}





.navbutton:hover::after {
  box-shadow:inset 0px 1px 15px rgba(0,0,0,0.4);
  font-size:1.1rem;
}



.notcurrent:hover {
  color:#10a9e5;
  margin: 0 15px 0 15px;
}

.current.notcurrent{
  color:#d9e4e8;
}






   	/* base */

   	*{

      margin: 0;

      padding: 0;

      box-sizing: border-box;

    }

    a{

      text-decoration: none;

    }

    /* about ronak */

    .space{

      height: 30rem;

      text-align: center;
     
     font-family:Sofia;

    }

    .space img{

      width: 10rem;

      height: 10rem;

      border-radius: 50%;

      margin: 40px;

    }

    /* footer start */

    footer{

      background-color: #3a3a3a;

      text-align: center;

      padding-bottom: 15px;

    }

    /* social media icons */

    .sm-handle{

      display: flex;

      padding-top: 2rem;

      justify-content: center;

    }

    .sm-button{

    margin: 0px 10px 0px;

      border: 1px solid #bababa;

      border-radius: 100%;

      width: 2rem;

      height: 2rem;

      display: flex;

      align-items: center;

      justify-content: center;

      cursor: pointer;

    }

    .sm-button:hover{

      background: linear-gradient(to right, #6500ff, #a400ff	);

    }

    .fab{

    color: #fff;

    font-size: 16px;

    }

    /* footer all links*/

    .footer-links{

     display: grid;

      grid-template-columns: 1fr 1fr;

      color: white;

      letter-spacing: 1.5px;

      word-spacing: 2px;

    }

    .menu-title{

      margin-bottom: 10px;

    }

    .menu{

      margin-bottom: 20px;

      margin-top: 10px;

    }

    .menu-links ,.other-links{

      display: block;

      font-family: Roboto;

      color: #d5d5d5;

      cursor: pointer;

    }

    .menu-links:hover{

      color: #6500ff;

    }

    .other-links:hover{

      color: #6500ff;

    }

    /* copyright area */

    .copyright{

      font-size: 10px;

      color: white;

      letter-spacing: 1.5px;

      word-spacing: 2px;

    }

    .copyright a{

      color: #fff;

      font-size: 12px;

      cursor: pointer;

    }

    /* screen change */

    @media(max-width :700px){

      .footer-links{

      grid-template-columns: 1fr;

    }

    }